

@font-face {
    font-family: "open sauce sans semi bold";
    src: url("fonts/open_sauce/OpenSauceSans-SemiBold.ttf");
}
@font-face {
    font-family: "open sauce sans light";
    src: url("fonts/open_sauce/OpenSauceSans-Light.ttf");
}

:root {
    --primary: #F0E9E5;
    --secondary: black;
    --tertiary: #1100CC;
    --quaternary: #417B5A;
}

* {
    box-sizing: border-box;
    background-color: var(--primary);
    
}

html, body {
    margin: 0;
    padding: 0;   
}

.text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "open sauce sans light";
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}


.opening-text {
    font-family: "open sauce sans semi bold";
    font-size: 3.5em;
    word-spacing: 0px;
    line-height: 52px;
    margin: 0;
    padding: 0;
}

.btn {
    height: 40px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    padding: 0.9em 0.9em;
    border: none;
    color: var(--primary);
    background-color: var(--secondary);
    text-decoration: none;
    
}

.btn:hover {
    background-color: var(--tertiary);
}

.whole-container {
    margin: auto;
    max-width: 1024px;
    padding: 0 20px;
}

.top-head-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}

h1 {
    font-family: "open sauce sans semi bold";
    font-size: 3em;
    word-spacing: 0px;
    line-height: 52px;
    margin: 0;
    padding: 0px 0px;
}

.building-block {
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
}

.bb-a {
    padding-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-flex: 0 0 40%;
}

.bb-b {
    padding-top: 30px;
    -webkit-flex: 0 0 60%;
}

.bb-b img {
    margin: 40px 0px;
}





/* TODO: 
1.) make the resizing of the page change the outer spaces
2.) make button widths the same

/* Questions:
1.) px vs. em vs. percentages for padding? */