

@font-face {
    font-family: "open sauce sans semi bold";
    src: url("fonts/open_sauce/OpenSauceSans-SemiBold.ttf");
}

@font-face {
    font-family: "open sauce sans light";
    src: url("fonts/open_sauce/OpenSauceSans-Light.ttf");
}

@font-face {
    font-family: "open sauce sans bold";
    src: url("fonts/open_sauce/OpenSauceSans-Bold.ttf");
}

@font-face {
    font-family: "sequel sans heavy head";
    src: url("fonts/sequel_sans/Sequel\ Sans\ Heavy\ Head].ttf");
}

@font-face {
    font-family: "sequel sans black body";
    src: url("fonts/sequel_sans/Sequel\ Sans\ Black\ Body.ttf");
}

@font-face {
    font-family: "sequel sans bold disp";
    src: url("fonts/sequel_sans/Sequel\ Sans\ Bold\ Disp.ttf");
}

@font-face {
    font-family: "genera light";
    src: url("fonts/genera/Wahyu\ and\ Sani\ Co.\ -\ Genera\ Alt\ Light.ttf");
}

@font-face {
    font-family: "neue singular D medium";
    src: url("fonts/neue/Fontspring-DEMO-neuesingular-d-medium.otf");
}

@font-face {
    font-family: "neue singular D light";
    src: url("fonts/neue/Fontspring-DEMO-neuesingular-d-light.otf");
}

@font-face {
    font-family: "VayuSans-Bold";
    src: url("fonts/vayu_sans/VayuSans-Bold.ttf");
}

:root {
    --primary: #FFFFFF;
    --secondary: black;
    /* --tertiary: #FFFFFF;
    --quaternary: #FFFFFF; */
    --tertiary: #303596;
    --quaternary: #787FF6;
    --quinary: #1100CC;
    --redrock: #A7472C;
    --redrock_dark: #A04732;
}

* {
    box-sizing: border-box;
    background-color: var(--test);
}

html {
    margin: 0;
    padding: 0;   
    /* text-size-adjust: 100%; */
}

.text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "VayuSans-Bold";
}



img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.opening-text {
    font-family: "sequel sans bold disp";
    font-size: 3.5em;
    /* word-spacing: 10px; */
    line-height: 65px;
    margin: 0;
    padding: 0;
}

.top-head-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    box-orient: vertical;
    box-direction: normal;
    flex-direction: column;
    box-pack: center;
    justify-content: center;
}

.outer-container {
    margin: 0;
    padding: 0;
    /* background-color: #787FF6; */
}

.inner-container {
    margin: auto;
    max-width: 1024px;
    padding: 0 20px;
    /* background-color: #787FF6; */
}



/* BUILDING BLOCK COLOR CONSTANT */
.top-color {
    background-color: var(--redrock_dark);
    color: var(--primary);

    /* background-color: var(--primary);
    color: var(--redrock_dark); */

}

.intro-phrase-color {
    /* background-color: var(--quinary);
    color: var(--primary); */

    background-color: var(--primary);
    color: var(--secondary);
}

.bb1-color {
    background-color: var(--primary);
    color: var(--secondary);
}

.bb2-color {
    background-color: var(--primary);
    color: var(--secondary);
}

.bb3-color {
    background-color: var(--primary);
    color: var(--secondary);
}

.bb4-color {
    background-color: var(--primary);
    color: var(--secondary);
}

.bb5-color {
    background-color: var(--primary);
    color: var(--secondary);
}

.bb6-color {
    background-color: var(--primary);
    color: var(--secondary);
}

/* BUILDING BLOCK COLOR VARIES */

/* 
.top-color {
    background-color: var(--primary);
    color: var(--secondary);
}

.bb1-color {
    background-color: var(--tertiary);
    color: var(--primary);
}

.bb2-color {
    background-color: var(--quaternary);
    color: var(--primary);
}

.bb3-color {
    background-color: var(--primary);
    color: var(--secondary);
}

.bb4-color {
    background-color: var(--tertiary);
    color: var(--primary);
}

.bb5-color {
    background-color: var(--quaternary);
    color: var(--primary);
}

.bb6-color {
    background-color: var(--primary);
    color: var(--secondary);
} */

/* END BUILDING BLOCK COLOR VARIES */

.bb-outer-container {
    margin: 0;
    padding: 0;
    /* background-color: #787FF6;  */
} 

/* class css-19p32q6 in Andy's code */
.building-block {
    display: flex;
    box-align: start;
    align-items: flex-start;
    box-lines: multiple;
    flex-wrap: wrap;
    /* background-color: #303596; */
}

/* class css-126ixdj in Andy's code */
.bb-a {
    padding-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex: 0 0 35%;
    /* background-color: #303596; */
}

/* class css-yq886z in Andy's code */
.bb-b {
    padding-top: 30px;
    flex: 0 0 65%;
    /* background-color: #303596; */
}

.bb-b img {
    margin-top: 10px;
    margin-bottom: 40px;
}

h1 {
    font-family: "sequel sans bold disp";
    color: var(--secondary);
    font-size: 3.5em;
    word-spacing: 10px;
    line-height: 65px;
    margin: 0;
    padding: 0px;
}



.edcar_letter{
    font-size:180px;
}

@media screen and (max-width: 900px) {
    .bb-a {
        flex: 1 0 100%;

    }

    .bb-b {
        flex: 1 0 100%;
    }
}


/* TODO: 
1.) Font sizing changes with screen resolution
2.) Font Animation
3.) Create the content including photos
4.) Improve the down arrow?
5.) selecting the colors


/* Questions:
1.) px vs. em vs. percentages for padding? */

/* COLORS: */
/* #303596 */
/* #787FF6 */
/* # FFFFFF */

