@charset "utf-8";

$brand-color:           #000000;
$brand-color-light:     lighten($brand-color, 40%);
$brand-color-dark:      darken($brand-color, 25%);

$site-title-color:      #921313;
$text-color:            #000000;

// SPACING
// $spacing-unit: 0px;
// $content-width: 1600px;

// $spacing-unit:     30px !default;


// $background-color: #dbccc0;
$background-color: #EFE7E3;




// LINKS
$link-base-color:        #8ef30a;



